// .public-transport-page {}

.Wrapper {
  .header {
    display: flex;
    border-bottom: 1px solid #00000021;
    margin-bottom: 15px;
    .writing {
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      flex: 1;
    }
  }
  .writing2 {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
  }
}
