// Project variables and Mixins
@import 'variables';
@import 'mixins';
@import 'select';

// Main Styles
.box{
  width: 100%;
main {
  padding-top: 91px;
  width: 100%;
  padding-bottom: 112px;
}
.header {
  font-size: 50px;
  padding-top: 10px;
  padding-left: 42px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.header2 {
  font-size: 24px;
  font-style: oblique;
  padding-bottom: 7px;
  padding-left: 75px;
  font-family: 'Open Sans', sans-serif;
}
.title {
  font-weight: normal;
  letter-spacing: 1.1px;
}

#__next {
  display: flex;
  height: 100vh;
  width: 100%;
}

.layout {
  min-height: 100vh;

  .ant-layout-content {
    padding: 0 50px;
  }

  .content-body {
    background: #fff;
    padding: 24px;
    height: auto;
  }

  .ant-layout-footer {
    text-align: center;
  }
  .ant-layout-header {
    height: 64px;
    padding: 0 50px;
    line-height: 64px;
    background: rgb(74, 143, 221);
    .ant-menu-horizontal {
      line-height: 46px;
      white-space: nowrap;
      border-radius: 5px;
      border-bottom: 1px solid #e8e8e8;
      -webkit-box-shadow: none;
      box-shadow: none;
      .dropdown{
        margin-left: auto;
        border-bottom: none !important;
      .ant-btn-group {
        position: relative;
        display: inline-block;
      }

        .anticon {
          padding-right: 7px;
        }
      }
    }
  }
}
}